{% extends 'base.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div class="max-w-5xl mx-auto mt-8">
        <div class="board-grid justify-center">
            <a href="{{ path('app_picture') }}" class="bg-white rounded-lg shadow-md cursor-pointer hover:shadow-lg card" style="grid-row-end: span 9">
                <div class="flex flex-col">

                    {# IMAGE #}
                    <img class="w-full overflow-hidden rounded-t-lg" src="https://cdn.pixabay.com/photo/2015/11/16/16/28/bird-1045954_960_720.jpg" />
                    <div class="flex justify-between items-center p-2 text-gray-800">

                        {# NAME #}
                        <p class="text-md font-bold">The bird</p>
                        <div class="flex items-center justify-between text-sm text-gray-500 space-x-1">

                            {# NUMBER OF COMMENTS #}
                            <span>10</span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}